<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li *ngIf="username != ''; else other_content"><button (click) = signOut()>Log Out</button></li>
      <ng-template #other_content><a class="nav-link" routerLink="/login">Login</a></ng-template>
      <li><a class="nav-link" routerLink="/livechat">Chat</a></li>
      <li><a class="nav-link" routerLink="/manage">Manage</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>