<h1>Live Chat</h1>
    <form>
    <label>Choose Group</label>
    <select [(ngModel)] = "selectedgroup" id="selectedgroup" name="selectedgroup">
        <ng-container *ngFor="let group of groups">
            <option class="option" *ngIf="group.groupmembers.indexOf(currentUser.username) !== -1" [ngValue] = "group.name">
                {{group.name}}
            </option>
        </ng-container>
    </select>
    <label>Choose Room</label>
    <select [(ngModel)] = "selectedroom" id="selectedroom" name="selectedroom">
        <ng-container *ngFor="let group of groups">
            <ng-container *ngIf="group.name == selectedgroup">
                <ng-container *ngFor="let room of group.rooms">
                    <option class="option" *ngIf="room.roommembers.indexOf(currentUser.username) !== -1" [ngValue] = "room.name">
                        {{room.name}}
                    </option>
                </ng-container>
            </ng-container>
        </ng-container>
    </select>
    <div>
        <button (click)="chooseChat()" class="btn btn-primary">Show chat</button>
    </div>
    </form>
<div>
    <h3>Active</h3>
    <ul>
        <li *ngFor="let live of livestatus">{{live}}</li>
    </ul>
</div>
<div>
    <form>
        <div>
            <label for="messagecontent">Send a new message</label>
            <input type="text" [(ngModel)]="messagecontent" name="messagecontent" id="messagecontent"/>
        </div>
        <div>
            <button (click)="chat(messagecontent)" class="btn btn-primary">Send</button>
        </div>
    </form>
    <h2>Messages</h2>
    <ul>
        <li *ngFor="let message of messages">{{message.user}} at {{message.time}} in {{message.group}}/{{message.room}}: {{message.content}}</li>
    </ul>

</div>
<div class="container">
    <router-outlet></router-outlet>
</div>