<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div>
    <h1>Your Groups and Rooms</h1>
    <p>Click a room to see the chat</p>
    <ng-container *ngFor="let usergroup of usergroups">
        <h3>{{ usergroup.groupname }}</h3>
        <ul>
            <li *ngFor="let room of usergroup.rooms" (click)="seeChat(room, usergroup.groupname)">{{ room }}</li>
        </ul>
    </ng-container>
</div>
<div *ngIf="chosenchat">
    <h3>Room chat: {{chosenchat.roomname}} </h3>
    <ul *ngIf="chosenchat.history != ''; else other">
        <li *ngFor="let msg of chosenchat.history">
            {{ msg.user }} : {{ msg.message }}
        </li>
        <form>
            <input type="text" [(ngModel)]="message" id="message" class="fadeIn second" name="message" placeholder="Type here!">
            <input type="submit" class="fadeIn fourth" value="Send" (click)="sendMsg()">
        </form>
    </ul>
    <ng-template #other><li>Start chatting!</li></ng-template>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>