<div>
    <h3>Update user</h3>
    <form (submit)="editUser($event)">
    <div>
        <label for="userid">User Name</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" placeholder="{{userOrigin.username}}">
    </div>
    <div>
        <label for="userid">Email</label>
        <textarea class="form-control" id="useremail" [(ngModel)]="useremail" name="useremail" placeholder="{{userOrigin.email}}"></textarea>
    </div>
    <div>
        <label for="userid">Role</label>
        <select [(ngModel)] = "userOrigin.role" id="userrole" name="userrole">
            <option selected class="option" value="user">User</option>
            <option class="option" value="group admin">Group Admin</option>
            <option class="option" value="super admin">Super Admin</option>
        </select>
    </div>
    <div>
        <label for="userid">Password</label>
        <input type="text" class="form-control" id="userpwd" [(ngModel)]="userpwd" name="userpwd" placeholder="{{userOrigin.pwd}}">
    </div>
    <div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-plus-square"></i>Update User</button>
    </div>
    </form>
</div>